#my-canvas {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVQ4jWNgYGAQIYAJglEDhoUBg9+FowbQ2gAARjwKARjtnN8AAAAASUVORK5CYII=");
  background-size: 30px 30px;
}
input[type="number"]::-webkit-inner-spin-button {
  cursor: pointer;
  position: absolute;
  height: 100%;
  opacity: 1;
  top: 0;
  right: 0;
  padding: 0 0 0 10px;
  filter: brightness(1);
}
input[type="number"] {
  padding-right: 30px;
}
.inputContainer {
  width: calc(50% - 10px);
}
.Image-Editor {
  height: 100%;
}
