/* Customized scollbar [starts]
Not supports in Firefox and IE */

.slim-scroll {
  scrollbar-color: #babac0 #f0f0f0;
  scrollbar-width: thin;
}

.slim-scroll.v-white {
  scrollbar-color: #babac0 #fff;
  scrollbar-width: thin;
}

/* total width */
.slim-scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;
}

/* background of the scrollbar except button or resizer */
.slim-scroll::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.slim-scroll.v-white::-webkit-scrollbar-track {
  background-color: #fff;
}

.slim-scroll::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

.slim-scroll.v-white::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

/* scrollbar itself */
.slim-scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  width: 16px;
}

.slim-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

/* set button(top and bottom of the scrollbar) */
.slim-scroll::-webkit-scrollbar-button {
  display: none;
}
